@font-face {
    font-family: 'Inter';
    src: url(Inter.ttf) format('truetype');
    font-weight: 100 900;
}

body {
    background-color: #ffd930;
    font-family: 'Inter';
}

header {
    border-color: #111111;
    border-width: 4px;
    border-style: solid;
    margin: 2vh;
    padding: 1rlh;
}

h1 {
    font-weight: 800;
    color: #111111;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    margin-bottom: 1.4rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 1rlh;
}

nav ul li a {
    font-weight: 650;
    color: #111111;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    font-weight: 750;
    color: #0c0c0c;
}

.link-disclaimer {
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    color: #111111;
}

.separator {
    margin: 5rem 0;
}

.gallery-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
}

.gallery-item {
    width: 23vw;
    border-color: #111111;
    border-width: 4px;
    border-style: solid;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: #111111;
    border-color: #111111;
    border: 0px;
    border-bottom: 4px;
    border-style: solid;
}

.gallery-item p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 650;
}