@font-face {
    font-family: 'Inter';
    src: url(Inter.ttf) format('truetype');
    font-weight: 100 900;
}

body {
    background-color: #ffd930;
    font-family: 'Inter';
}

.section {
    border-color: #111111;
    border-width: 4px;
    border-style: solid;
    margin: 2vh;
    padding: 1rlh;
}

.section>p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 550;
}

h1 {
    font-weight: 800;
    color: #111111;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    margin-bottom: 1.4rem;
}

h2.footer-text {
    font-weight: 800;
    color: #111111;
    text-align: center;
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.nav ul li a {
    font-weight: 650;
    color: #111111;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav ul li a[aria-selected="true"] {
    color: #0c0c0c;
    text-decoration: underline;
}

.nav ul li a[aria-selected="false"]:hover {
    color: #0c0c0c;
    text-decoration: underline;
}

.link-disclaimer {
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    color: #111111;
}

.separator {
    margin: 5rem 0;
}

.gallery-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rlh;
    width: 100%;
    height: 100%;
}

.gallery-item {
    width: 90%;
    border-color: #111111;
    border-width: 4px;
    border-style: solid;
}

@media (min-width: 768px) {
    .gallery-item {
        width: 400px;
    }
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: #111111;
    border-color: #111111;
    border: 0px;
    border-bottom: 4px;
    border-style: solid;
}

.gallery-item p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 650;
}

.lightbox-container {
    position: absolute;
    top: 5vh;
    left: 5vw;
    height: 85vh;
    width: 85vw;
    padding: 2.5vh 2.5vw;
    border-color: #111111;
    border-width: 4px;
    border-style: solid;
}

.lightbox-image-container {
    height: 91.5%;
    text-align: center;
    margin-bottom: 0.5%;
}

.lightbox-image {
    width: fit-content;
    height: 100%;
    object-fit: contain;
    border-color: #111111;
    border-width: 4px;
    border-style: solid;
}

.lightbox-caption-container {
    height: 7.5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.lightbox-caption-container p {
    color: #111111;
    margin: 0;
}

.lightbox-caption {
    /* height: 65%; */
    font-weight: 700;
    font-size: clamp(1rem, 1.6cqi, 3rem);
}

.lightbox-mods-featured {
    /* height: 35%; */
    font-weight: 600;
    font-size: clamp(0.6rem, 0.6cqi, 1rem);
}

.featured-mod {
    text-decoration: none;
    color: inherit;
    font-weight: 650;
}

.featured-mod:hover {
    text-decoration: underline;
}

::selection {
    background-color: #0c0c0c;
    color: #ffd930;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}